
<section id="contact">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">

            <h2 class="section-heading">You can contact us</h2>
            <hr />
            <p>Telephone or email us for any inquiries</p>

        </div>

        <div class="col-md-4 col-md-offset-2 text-center">
            <span class="glyphicon glyphicon-phone"></span>
            <p>0208 7488 3940</p>
        </div>

        <div class="col-md-4 text-center">
            <span class="glyphicon glyphicon-envelope"></span>
            <p><a href="mailto:parkvines@mail.co.uk">parkvines@mail.co.uk</a></p>

        </div>

    </div>
</section>

 

