
@{
    ViewBag.Title = "TermsConditions";
}

<br /><br /><br />
<div style="text-align: center">
    <h2>Terms & Conditions</h2>

    <br />

    <h3>Age restriction </h3>
</div>
     
<div style="text-align: left">

    <ul>
        <li>
            We won’t offer wine should Any individual who isn’t 18 quite some time old or over. By putting a request you affirm that you are no less than 18 years of age.
            Though you would purchase an instance about wine as a gift – those beneficiary must Additionally make over 18 quite some time of age.
        </li>

        <li>  If our couriers would for whatever mistrust something like the period of the beneficiary with respect to delivery, they will ask for some of ID. Though those representative getting those wine may be unabated to prepare suitable ID, Shockingly our couriers will   clear out the wine.  </li>
        <li>
            When wine needs to  be delivered, as stated by your first conveyance instructions, it turns into those recipient’s obligation.
        </li>
    </ul>
    </div>
<br />  

    <h3 style="text-align:center">Broken Wines </h3>
     

    <div style=”text-align: left”>
   <ul>If you purchase our wines and you figure any container broken. We will credit the  measure paid for that bottle.</ul>   
       
     </div>

        <h3 style="text-align:center">Delivery</h3> 
    
    <div style="text-align:left">
        <ul> We typically deliver between Monday and Friday, times of 7. 30am on 5. 30pm as stated by your delivery guidelines.
            In the event you’re absent, the driver will reorganise a more helpful convenient time for you.</ul>    
         
    </div>

    <h3 style="text-align:center">Delivery  times. </h3>
   <div style="text-align:left">
        
         <ul>
          
           Every last bit results recorded on the website would liable will availability, and, though they need aid in this manner
           found will a chance to be inaccessibility. When an request need been placed, you will make educated through email alternately
           phone Similarly as before long as your request is transformed
           We will generally endevour to offer a elective.
             
           Items requested on the website preceding 9am Monday on Friday will result to be despatched and conveyed the same day.
            unless notified for whatever delay Eventually Tom's perusing email alternately phone. In your request may be set with
            respect to An Saturday, sunday alternately An bank Holiday, it will a chance to be transformed those next attempting day. 
       </ul>
       </div>

<h3 style="text-align:center"> Returns</h3> 
   <div style="text-align:left">
       <ul>
           A percentage of the bottles could be broken ruining your experience. Because of this, you are free to return them for a full refund.
           You must inform us about the sum wines which need returning by emailing us  parkvines@mail.com. Furthermore reimbursements will
           be paid inside 30 days for you advising us of your wish to come back wine under that clause.
           Nothing in these terms and states will decrease your statutory privileges identifying with misdescribed merchandise


       </ul>
       </div>
        









