
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PayPalVerification</title>
</head>
<body>
    <div> 
        <h1 style="text-align:center">Please wait....Verifying your payment status</h1>
    </div>
</body>
</html>
